form {
    margin-top: 30px;
}

.label {
    padding-right: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.bar {
    padding-left: 0 !important;
}

.input {
    padding: 20px !important;
    border-radius: 20px !important;
}