.jumbotron {
  padding: 50px;
  padding-bottom: 20px !important;
  
  margin-top: 100px !important;
  background-color: var(--myWhite);
}

.titleName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.date {
  display: flex !important;
  flex-direction: row;
  opacity: 1;
}
.slash {
  margin-left: 5px;
  margin-right: 5px;
}

.organizer {
  display: flex !important;
  flex-direction: row;
  margin-bottom: 0 !important;
}

.titleButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detailButton {
  background-color: var(--myGreen) !important;
  color: white !important;
  padding: 8px 20px;
  text-transform: capitalize !important;
}

.detailButton:hover {
  background-color: var(--myGreenHover) !important;
}

.giftDrawButton {
  background-color: var(--myRed) !important;
  color: white !important;
  padding: 8px 20px;
  text-transform: capitalize !important;
  margin-left: 10px !important;
}

.giftDrawButton:hover {
  background-color: var(--myRedHover) !important;
  
}


